.background-tabs {
    --background: url('../../../../assets/img/fondoSitios.jpg') 0 0/100% 100% no-repeat;
}

.color-ramdon {
    background: rgb(0 0 0 / 71%);
}

.tabs2__btn-color {
    color: white;
}