<app-header titulo={{titulo}}>
</app-header>

<ion-content>
    <ion-list class="margin-btn__5px" *ngFor="let dtaService of productos1; let i =index" (click)="levelNav1('navX'+i, dtaService.nombre)" [ngClass]="{active: isNav1Displayed('navX'+i)}">
        <div class="displayFlex-row displayFlex-row__justi-around  position-relative">
            <ion-avatar class="margin-0-10">
                <img src={{dtaService.icon}}>
            </ion-avatar>
            <h2 class="text-title list-title">{{dtaService.nombre | titlecase}}</h2>
            <ion-icon class="position-absolute position-absolute__giro right0" [name]="isNav1Displayed('navX'+dtaService) ? 'chevron-down-outline' : 'chevron-forward-outline'" slot="end"></ion-icon>
        </div>

        <div *ngIf="isNav1Displayed('navX'+i)" (click)="eventActionSheet()" routerLinkActive="router-link-active">
            <ion-item-sliding *ngFor="let dtaItems of itemProduts1">
                <ion-item-options side="start">
                    <ion-item-option class="tabs-option-sliding" (click)="optionEdit(dtaItems)">
                        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                        <span>editar</span>
                    </ion-item-option>
                    <ion-item-option class="tabs-option-sliding" color="danger" (click)="optionDelete(dtaItems)">
                        <ion-icon name="trash-outline"></ion-icon>
                        <span>eliminar</span>
                    </ion-item-option>
                    <ion-item-option class="tabs-option-sliding" color="success" (click)="optionList(dtaItems)">
                        <ion-icon name="list-circle-outline"></ion-icon>
                        <span>mis listas</span>
                    </ion-item-option>
                </ion-item-options>

                <ion-item>
                    <ion-card class="w100">
                        <div class="list-product__card displayFlex-row displayFlex-row__justi-around position-relative">
                            <div class="displayFlex-column">
                                <ion-label slot="start">
                                    <h3 class="text-minTitle">{{dtaItems.nombre}}</h3>
                                    <span>{{dtaItems.marca}}</span>
                                </ion-label>
                                <ion-label>
                                    <span class="text-min">{{dtaItems.descripcion}}</span>
                                </ion-label>
                            </div>
                            <span class="text-precio">{{dtaItems.precio}}€</span>
                        </div>
                        <div class="displayFlex-row">
                            <ion-icon name="caret-forward-outline" slot="start"></ion-icon>
                            <span class="text-informacion text-informacion__color">a la derecha</span>
                        </div>

                    </ion-card>
                </ion-item>

            </ion-item-sliding>
        </div>

    </ion-list>
</ion-content>