<ion-card class="margin-top__10porcen padding-10">
    <div class="modal-header">
        <h1 class="text-title">
            {{titulo}}
        </h1>
        <h3 class="text-min">
            {{descricion}}
        </h3>
    </div>
</ion-card>
<ion-content *ngIf="modalCreateGenero">
    <ion-card>
        <ion-item>
            <ion-label placeholder="Nombre" position="floating">Nombre</ion-label>
            <ion-input type="text" name="nombre" [(ngModel)]="nombreCrear">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label></ion-label>
            <ion-select class="select-text padding-5" placeholder="sitio" (ionChange)="checkValueSitio($event)" [(ngModel)]='evalueSelectsitio'>
                <ion-select-option *ngFor="let dta of sitios" [value]="dta">{{dta.nombre}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label></ion-label>
            <ion-select class="select-text padding-5" placeholder="iconos" (ionChange)="checkValueIcon($event)" [(ngModel)]='evalueSelectIcon'>
                <ion-select-option *ngFor="let dta of icons" [value]="dta">
                    <ion-avatar>
                        <img src={{iconGenero + dta.icon}}>
                    </ion-avatar>
                </ion-select-option>
            </ion-select>
        </ion-item>

    </ion-card>

</ion-content>
<ion-content class="conten-editGenero" *ngIf="modalEditGenero">
    <div class="displayFlex-row displayFlex-row__justi-around margin-btn__-15">
        <p class="margin-left__5porcen">Modificar</p>
        <ion-icon slot="start" name="create-sharp"></ion-icon>
    </div>
    <ion-card>
        <button class="btn-clear margin__5px" (click)="resectSelect()" name="close-outline"></button>
        <ion-item>
            <ion-label></ion-label>
            <ion-select class="select-text padding-5" placeholder="Genero Productos" (ionChange)="checkValue($event)" [(ngModel)]='evalueSelectGenero'>
                <ion-select-option *ngFor="let dta of productos" [value]="dta">{{dta.nombre}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-card>
    <div #boxActive>

        <ion-item>
            <ion-label placeholder="Nombre" position="floating">{{textSelect}}</ion-label>
            <ion-input type="text" name="nombre" [(ngModel)]="nombreEdit">
            </ion-input>
        </ion-item>
        <ion-card>
            <ion-item>
                <ion-label></ion-label>
                <ion-select class="select-text padding-5" placeholder="especifico" (ionChange)="checkValueSitio($event)" [(ngModel)]='evalueSelectsitio'>
                    <ion-select-option *ngFor="let dta of sitios" [value]="dta">{{dta.nombre}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label></ion-label>
                <ion-select class="select-text padding-5" placeholder="iconos" (ionChange)="checkValueIcon($event)" [(ngModel)]='evalueSelectIcon'>
                    <ion-select-option *ngFor="let dta of icons" [value]="dta">
                        <ion-avatar>
                            <img src={{iconGenero + dta.icon}}>
                        </ion-avatar>
                    </ion-select-option>
                </ion-select>
            </ion-item>

        </ion-card>
    </div>
</ion-content>


<div class="displayFlex displayFlex-row__center margin-btn__35px">
    <ion-button (click)="btnAceptarModal()" class="btn-affirmation" shape="round" fill="outline" fill="clear">
        Aceptar
    </ion-button>
    <ion-button class="btn-red" (click)="closeModal()" shape="round" fill="outline" fill="clear">
        Cancelar
    </ion-button>
</div>