<app-header titulo="PRODUCTOS">
</app-header>
<ion-fab class="fab-tabs" vertical="top" horizontal="end" (ionBlur)="onBlurFab($event)">
    <ion-fab-button class="btn-fab-icon">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="list-fab-tabs" side="button">
        <ion-card>
            <ion-fab-button>
                <button (click)="createGenero()">
                    Crear Tipo
                </button>
            </ion-fab-button>
            <ion-fab-button>
                <button (click)="editGenero()">
                    Editar Tipo
                </button>
            </ion-fab-button>
            <ion-fab-button>
                <button (click)="createproducto()">
                    Crear Producto
                </button>
            </ion-fab-button>
            <ion-fab-button>
                <button (click)="createSitio()">
                    Crear Sitio(lugar)
                </button>
            </ion-fab-button>
        </ion-card>

    </ion-fab-list>
</ion-fab>
<ion-tabs class="tabs-produc" mode="md">
    <ion-tab-bar class="tabs-bar" slot="top">
        <ion-tab-button class="tabs-btn" tab="producgenere">
            <ion-label class="tabs-label">
                <span class="tabs-color-span">GENERALES</span>
            </ion-label>

        </ion-tab-button>
        <ion-tab-button class="tabs-btn" tab="producnues">
            <!-- <ion-icon name="accessibility-sharp"></ion-icon> -->
            <ion-label class="tabs-label">
                <span class="tabs-color-span">LUGARES</span>
            </ion-label>
        </ion-tab-button>

        <ion-tab-button class="tabs-btn" tab="producespe">
            <!-- <ion-icon name="pizza-sharp"></ion-icon> -->
            <ion-label class="tabs-label">
                <span class="tabs-color-span">EXTRAS</span>
            </ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>



<!-- <app-form-producto></app-form-producto> -->