<app-header titulo="PRODUCTOS">
</app-header>
<ion-tabs class="tabs-produc" mode="md">
    <ion-tab-bar class="tabs-bar" slot="top">
        <ion-tab-button class="tabs-btn" tab="producgenere">
            <ion-label class="tabs-label">
                <span>GENERALES</span>
            </ion-label>

        </ion-tab-button>
        <ion-tab-button class="tabs-btn" tab="producnues">
            <!-- <ion-icon name="accessibility-sharp"></ion-icon> -->
            <ion-label class="tabs-label">
                <span>LUGARES</span>
            </ion-label>
        </ion-tab-button>

        <ion-tab-button class="tabs-btn" tab="producespe">
            <!-- <ion-icon name="pizza-sharp"></ion-icon> -->
            <ion-label class="tabs-label">
                <span>EXTRAS</span>
            </ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>



<!-- <app-form-producto></app-form-producto> -->