.general {
    .displayFlex {
        display: flex;
        &-row {
            display: flex;
            flex-direction: row;
            &__center {
                justify-content: center;
            }
            &__justi-around {
                justify-content: space-around;
            }
        }
        &-column {
            display: flex;
            flex-direction: column;
            &__center {
                justify-content: center;
            }
        }
    }
    .textAlign {
        text-align: center;
    }
}