.general {
    .text {
        &-subtitle {
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold
        }
        &-min {
            font-size: 14px;
            font-family: 'Times New Roman', Times, serif;
        }
        &-minTitle {
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}