<ion-content>
    <ion-menu-toggle auto-hide="false" class="first-menu"></ion-menu-toggle>
    <div *ngFor="let dtaService of dtaServicePlace | async">
        <ion-list class="margin-btn__5px" *ngFor="let dta; let i=index of dtaService.products" (click)="levelNav1('navX'+i)" [ngClass]="{active: isNav1Displayed('navX'+i)}">
            <div class="displayFlex-row displayFlex-row__justi-around  position-relative">
                <ion-avatar class="margin-0-10">
                    <img src={{dta.icon}}>
                </ion-avatar>
                <h2 class="text-title list-title">{{dta.genero | titlecase}}</h2>
                <ion-icon class="position-absolute position-absolute__centerTop right0" [name]="isNav1Displayed('navX'+i) ? 'chevron-down-outline' : 'chevron-forward-outline'" slot="end"></ion-icon>
            </div>

            <div *ngIf="isNav1Displayed('navX'+i)" (click)="eventActionSheet()" routerLinkActive="router-link-active">
                <ion-item-sliding *ngFor="let dtaItems of dta.items">
                    <ion-item-options side="start">
                        <ion-item-option class="tabs-option-sliding" (click)="optionEdit(dtaItems, dta.genero )">

                            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                            <span>editar</span>
                        </ion-item-option>
                        <ion-item-option class="tabs-option-sliding" color="danger" (click)="optionDelete(dtaItems , dta.genero)">
                            <ion-icon name="trash-outline"></ion-icon>
                            <span>eliminar</span>
                        </ion-item-option>
                        <ion-item-option class="tabs-option-sliding" color="success" (click)="optionList(dtaItems , dta.genero)">
                            <ion-icon name="list-circle-outline"></ion-icon>
                            <span>mis listas</span>
                        </ion-item-option>
                    </ion-item-options>
                    <ion-item>

                        <ion-card class="list-product__card displayFlex-row displayFlex-row__justi-around">
                            <div class="displayFlex-column">
                                <ion-label slot="start">
                                    <h3 class="text-minTitle">{{dtaItems.nombre}}</h3>
                                    <span>{{dtaItems.marca}}</span>
                                </ion-label>
                                <ion-label>
                                    <span class="text-min">{{dtaItems.descripcion}}</span>
                                </ion-label>
                            </div>
                            <span class="text-precio">{{dtaItems.precio}}€</span>
                        </ion-card>
                    </ion-item>
                </ion-item-sliding>
            </div>

        </ion-list>
    </div>

    <ion-infinite-scroll threshold="100%" position="bottom" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<!-- <ion-content>
    <ion-menu-toggle auto-hide="false" class="first-menu"></ion-menu-toggle>
    <div *ngFor="let dtaService of super">
        <ion-list class="margin-btn__5px" *ngFor="let dta; let i=index of dtaService.products" (click)="levelNav1('navX'+i)" [ngClass]="{active: isNav1Displayed('navX'+i)}">
            <div class="displayFlex-row displayFlex-row__justi-around  position-relative">
                <ion-avatar class="margin-0-10">
                    <img src={{dta.icon}}>
                </ion-avatar>
                <h2 class="text-title list-title">{{dta.genero | titlecase}}</h2>
                <ion-icon class="position-absolute position-absolute__centerTop right0" [name]="isNav1Displayed('navX'+i) ? 'chevron-down-outline' : 'chevron-forward-outline'" slot="end"></ion-icon>
            </div>

            <div *ngIf="isNav1Displayed('navX'+i)" (click)="eventActionSheet()" routerLinkActive="router-link-active">
                <ion-item-sliding *ngFor="let dtaItems of dta.items">
                    <ion-item-options side="start">
                        <ion-item-option class="tabs-option-sliding" (click)="optionEdit(dtaItems, dta.genero )">
                            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                            <span>editar</span>
                        </ion-item-option>
                        <ion-item-option class="tabs-option-sliding" color="danger" (click)="optionDelete(dtaItems , dta.genero)">
                            <ion-icon name="trash-outline"></ion-icon>
                            <span>eliminar</span>
                        </ion-item-option>
                        <ion-item-option class="tabs-option-sliding" color="success" (click)="optionList(dtaItems , dta.genero)">
                            <ion-icon name="list-circle-outline"></ion-icon>
                            <span>mis listas</span>
                        </ion-item-option>
                    </ion-item-options>
                    <ion-item>

                        <ion-card class="list-product__card displayFlex-row displayFlex-row__justi-around">
                            <div class="displayFlex-column">
                                <ion-label slot="start">
                                    <h3 class="text-minTitle">{{dtaItems.nombre}}</h3>
                                    <span>{{dtaItems.marca}}</span>
                                </ion-label>
                                <ion-label>
                                    <span class="text-min">{{dtaItems.descripcion}}</span>
                                </ion-label>
                            </div>
                            <span class="text-precio">{{dtaItems.precio}}€</span>
                        </ion-card>
                    </ion-item>
                </ion-item-sliding>
            </div>

        </ion-list>
    </div>

    <ion-infinite-scroll threshold="100%" position="bottom" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content> -->