<!-- <ion-header>
  <ion-toolbar>
    <ion-title>listProducGenere</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-list class="margin-btn__5px" *ngFor="let dta of DtaServiceProduc | async">
        <div class="displayFlex-row margin-left__5porcen">
            <ion-avatar class="margin-0-10">
                <img src={{dta.icon}}>
            </ion-avatar>
            <h2 class="text-subtitle">{{dta.genero}}</h2>
        </div>

        <ion-item *ngFor="let dtaItems of dta.items">
            <ion-card class="list-product__card displayFlex-row displayFlex-row__justi-around">
                <div class="displayFlex-column">
                    <ion-label slot="start">
                        <h3 class="text-minTitle">{{dtaItems.nombre}}</h3>
                        <span>{{dtaItems.marca}}</span>
                    </ion-label>
                    <ion-label>
                        <span class="text-min">{{dtaItems.descripcion}}</span>
                    </ion-label>
                </div>
                <span class="text-precio">{{dtaItems.precio}}€</span>
            </ion-card>
        </ion-item>

    </ion-list>

    <ion-infinite-scroll threshold="100%" position="bottom" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>