.initial {
    &-btn__content {
        margin: 0 auto;
    }
    &-label {
        white-space: pre-wrap;
        color: white;
        font-family: cursive;
        font-weight: bold;
        width: 55%;
    }
    &-item {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        background: #06060670;
        padding: 7px;
        border-radius: 10%;
    }
}